<div class="container">
  <img src="../../../assets/logo.png" class="logo" alt="" />
  <div class="navigation">
    <p class="btn-category">Core</p>
    <button routerLink="/home/dashboard" routerLinkActive="active-link">
      Dashboard
    </button>
    <button routerLink="/home/key-inventory">Key Inventory</button>
    <p class="btn-category">User Management</p>
    <button routerLink="/home/faculty">Faculty</button>
    <button routerLink="/home/attendance-checker">Attendance Checker</button>
    <p class="btn-category">Administrative</p>
    <button routerLink="/home/semester-management">Semester Management</button>
    <button routerLink="/home/room-key-management">Room/Key Management</button>
  </div>
  <hr />
  <div class="other-navigation">
    <button routerLink="/home/settings">Settings</button>
    <button routerLink="/home/account">Account</button>
    <button>Logout</button>
  </div>
</div>
