<div class="container">
  <img src="../../../assets/logo.png" class="logo" alt="" />
  <div class="navigation">
    <p class="btn-category">Core</p>
    <button routerLink="/dashboard" routerLinkActive="active-link">
      Dashboard
    </button>
    <button routerLink="/key-inventory">Key Inventory</button>
    <p class="btn-category">User Management</p>
    <button routerLink="/faculty">Faculty</button>
    <button routerLink="/attendance-checker">Attendance Checker</button>
    <p class="btn-category">Administrative</p>
    <button routerLink="/semester-management">Semester Management</button>
    <button routerLink="/room-key-management">Room/Key Management</button>
  </div>
  <hr />
  <div class="other-navigation">
    <button routerLink="/settings">Settings</button>
    <button routerLink="/account">Account</button>
    <button>Logout</button>
  </div>
</div>
