.example-card {
  max-width: 150px;
  margin: 25px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //border: 3px solid #73AD21;
  width: 100%;
  //background-color: orange;

}

h1{
  display: flex;
  justify-content: center;
  //background-color: red;
  margin-bottom: 0px;
}


