<h1>Key Inventory</h1>
<div class="container">
  <mat-card class="example-card" *ngFor="let room of roomlist">
    <mat-card-header>
      <mat-card-title >{{room.roomName}}</mat-card-title>
      <mat-card-subtitle>{{room.availabilty}}</mat-card-subtitle>
    </mat-card-header>
    <img src="assets/key-icon.png" alt="key icon">
    <mat-card-actions >
      <button mat-raised-button color="primary" *ngIf="(room.availabilty === 'Available');">LEND</button>
      <button mat-raised-button color="primary" *ngIf="(room.availabilty === 'Not Available');">RETURN</button>
    </mat-card-actions>
  </mat-card>
</div>
