
p {
  margin-bottom: 1rem;
}

h1{
  font-weight: bold !important;;
}

.container{
  display: flex;
  width: 100%;
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    border-right: solid 1px #a5a5a5;
    height: 100%;
  }
  main{
    margin-left: 20%;
    padding: 3em 1em;
    width: 100%;
  }

}
