<!-- <div mat-dialog-title>
  <h1>Key lend inventory </h1>
</div>
<form [formGroup]="KeyInventoryAdmin" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">


    <mat-form-field appearance="outline">
      <mat-label>Room Name.</mat-label>
      <input matInput type="text" placeholder="ex.It 104"formControlName="roomName" >

    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Faculty Name </mat-label>
      <input matInput type="text" placeholder="ex.Jethro"formControlName="userName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Time Start </mat-label>
      <input matInput type="text" placeholder="ex.6:00 am"formControlName="timeStart">
    </mat-form-field>


  </div>
  <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Submit'}}</button>
  </div>
</form> -->
