<mat-toolbar>

  <span>Faculty</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" (click)="openAddEditEmpForm()">
    Create account
  </button>

</mat-toolbar>

  <div class="main-body">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="facultyid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.facultyid}} </td>
        </ng-container>

        <!-- fName Column -->
        <ng-container matColumnDef='firstname'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </th>
          <td mat-cell *matCellDef="let row"> {{row.firstname}} </td>
        </ng-container>

        <!-- mName Column -->
        <ng-container matColumnDef='middleinitial'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Middlename </th>
          <td mat-cell *matCellDef="let row"> {{row.middleinitial}} </td>
        </ng-container>

         <!-- lName Column -->
         <ng-container matColumnDef='lastname'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </th>
          <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
        </ng-container>

           <!-- Email -->
           <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>


           <!-- dot -->
           <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
            <td mat-cell *matCellDef="let row"> {{row.username}} </td>
          </ng-container>

          <!-- contact -->
          <ng-container matColumnDef="connum">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
            <td mat-cell *matCellDef="let row"> {{row.connum}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row">

              <button mat-icon-button color="primary" (click)="openEditForm(row)">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button color="warn" (click)="deleteFaculty(row.id)">
                <mat-icon>delete</mat-icon>
              </button>

            </td>
          </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

  </div>

