<style>
  h1,h3 {text-align: center;}


  table {width: 100%;}
  th.mat-sort-header-sorted {color: black;}

</style>

<!-- USER INFO HERE -->
<h1 *ngIf="user">
  {{user.firstname}} {{user.lastname}}
  <h4>{{user.email}}</h4>
</h1>
<!-- USER INFO END -->

<hr>

<h1> Schedule</h1>

<!-- TABS HERE -->
<mat-tab-group fitInkBarToContent mat-align-tabs="center" animationDuration="0ms">

  <!-- 1ST TAB HERE -->
  <mat-tab label="1st Sem">

    <!-- SCHEDULE TABLE HERE -->
    <div class="main-body">
      <div class="filter">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      </div>

      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- fName Column -->
          <ng-container matColumnDef='coursecode'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Code </th>
            <td mat-cell *matCellDef="let row"> {{row.coursecode}} </td>
          </ng-container>

          <!-- mName Column -->
          <ng-container matColumnDef='subject'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
            <td mat-cell *matCellDef="let row"> {{row.subject}} </td>
          </ng-container>

           <!-- lName Column -->
           <ng-container matColumnDef='room'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Room No. </th>
            <td mat-cell *matCellDef="let row"> {{row.room}} </td>
          </ng-container>

             <!-- Email -->
             <ng-container matColumnDef="day">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>  Day </th>
              <td mat-cell *matCellDef="let row"> {{row.day}} </td>
            </ng-container>


            <!-- Username -->
            <ng-container matColumnDef="section">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Section </th>
              <td mat-cell *matCellDef="let row"> {{row.section}} </td>
            </ng-container>

                 <!-- Username -->
                 <ng-container matColumnDef="time_start">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Time Start </th>
                  <td mat-cell *matCellDef="let row"> {{row.time_start}} </td>
                </ng-container>

                     <!-- Username -->
            <ng-container matColumnDef="time_end">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Time End </th>
              <td mat-cell *matCellDef="let row"> {{row.time_end}} </td>
            </ng-container>



            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let row">

                <button mat-icon-button color="primary" (click)="openEditForm(row)">
                  <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button color="warn" (click)="deletefirstSem(row.scheduleid)">
                  <mat-icon>delete</mat-icon>
                </button>

              </td>
            </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>

    </div>

    <!-- SCHEDULE TABLE END -->

    <div style="display: flex; justify-content: center;">
      <button mat-raised-button color="primary" (click)="openfirstSemForm()" class="add-schedule">Add Schedule</button>
    </div>

    

  </mat-tab>
  <!-- 1ST TAB END -->

  <mat-tab label="2nd Sem">

  <!-- 2ND TAB HERE -->
  <div class="main-body">
    <div class="filter">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
  </div>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource2" matSort>

        <!-- fName Column -->
        <ng-container matColumnDef='coursecode'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Course Code </th>
          <td mat-cell *matCellDef="let row"> {{row.coursecode}} </td>
        </ng-container>

        <!-- mName Column -->
        <ng-container matColumnDef='subject'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
          <td mat-cell *matCellDef="let row"> {{row.subject}} </td>
        </ng-container>

         <!-- lName Column -->
         <ng-container matColumnDef='room'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Room No. </th>
          <td mat-cell *matCellDef="let row"> {{row.room}} </td>
        </ng-container>

           <!-- Email -->
           <ng-container matColumnDef="day">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  Day </th>
            <td mat-cell *matCellDef="let row"> {{row.day}} </td>
          </ng-container>


          <!-- Username -->
          <ng-container matColumnDef="section">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Section </th>
            <td mat-cell *matCellDef="let row"> {{row.section}} </td>
          </ng-container>

               <!-- Username -->
               <ng-container matColumnDef="time_start">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Time Start </th>
                <td mat-cell *matCellDef="let row"> {{row.time_start}} </td>
              </ng-container>

                   <!-- Username -->
          <ng-container matColumnDef="time_end">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Time End </th>
            <td mat-cell *matCellDef="let row"> {{row.time_end}} </td>
          </ng-container>


          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row">

              <button mat-icon-button color="primary" (click)=" openEditForm2(row)">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button color="warn" (click)="deletefirstSem2(row.scheduleid)">
                <mat-icon>delete</mat-icon>
              </button>

            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

  </div>
  <!-- 2ND TAB END -->
  <div style="display: flex; justify-content: center;">
    <button mat-raised-button color="primary" (click)="openfirstSemForm2()" class="add-schedule">Add Schedule</button>
  </div>
  
</mat-tab>

</mat-tab-group>
<!-- TABS END -->

<hr>

<h1>Attendance Record</h1>

<!-- ATTENDANCE RECORD TABLE HERE -->
<table mat-table [dataSource]="dataSource3" class="mat-elevation-z8"  >

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="room">
    <th mat-header-cell *matHeaderCellDef> Room </th>
    <td mat-cell *matCellDef="let element"> {{element.room}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumnAttendance"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumnAttendance;"></tr>
</table>
<!-- ATTENDANCE RECORD TABLE END -->


