<div mat-dialog-title>
  <h1>Room No. Form</h1>
</div>
<form [formGroup]="Keymanagement" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">



    <mat-form-field appearance="outline">
      <mat-label>Key No.</mat-label>
      <input matInput type="text" placeholder="ex.Dela Cruz"formControlName="keyNo" >

    </mat-form-field>

    
    <mat-form-field appearance="outline">
      <mat-label>Key and Room No.</mat-label>
      <input matInput type="text" placeholder="ex.Dela Cruz"formControlName="roomName">
    </mat-form-field>
  

  </div>
  <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Submit'}}</button>
  </div>
</form>