<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<i class="bx bx-menu close-btn" id="btn"></i>
<div class="sidebar open none-sidebar">
  <div class="logo-details">
    <i class="fa-brands fa-keycdn"></i>
    <div class="logo_name">CMKIS</div>
    <!-- <i class='bx bx-menu' id="btn" ></i> -->
  </div>
  <ul class="nav-list">
    <li>
      <a routerLink="/home-faculty/view-attendance" routerLinkActive="active-link">
        <i class='fa-solid fa-calendar-days'></i>
        <span class="links_name">View Attendance</span>
      </a>
      <span class="tooltip">View Attedance</span>
    </li>

    <li class="profile">
      <button class='bx bx-log-out leave-button-color' id="log_out" (click)="logOut()"></button>
    </li>


  </ul>
</div>

